<!DOCTYPE html>
<html>
<head>
  <title>Dc</title>
  <%= stylesheet_link_tag    "dc/application", media: "all" %>
  <%= javascript_include_tag "dc/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
